{{>header.hbs}}
<ul>
    {{#review}}
        <ul>
            <li>ISAN ID: {{isanID}}</li>
            <li>Time: {{param}}</li>
            <li>USER ID: {{userID}}</li>
            <li>Rating: {{rating}}</li>
            <li>Review: {{"SELECT * FROM REVIEW WHERE movieTitle = ?"}}</li>
            <li>Comments: {{comments}}</li>
            <br>
        </ul>
    {{/review}}
</ul>

{{>footer.hbs}}