
{{#ErrorMsg}}
    <p style="font-weight: bold; color: red;">{{ErrorMsg}}</p>
{{/ErrorMsg}}

<h2>Reviews: </h2>

{{#reviews}}
<ul>
    <li>User ID: {{userID}}</li>
    <li>Movie Title: {{title}}</li>
    <li>Movie ISAN: {{isan_ID}}</li>
    <li>Comments: {{comments}}</li>
    <li>Time: {{dateTime}}</li>
    <li>Rating: {{rating}}</li>
    <li>Reviewed Status: {{reviewed}}</li>
</ul>

{{/reviews}}