<a href="/admin/adminhome">Return to homepage </a>
<br>

{{#ErrorMsg}}
    <p style="font-weight: bold; color: red;">{{ErrorMsg}}</p>
{{/ErrorMsg}}

<ul>
    <li>User ID: {{userID}}</li>
    <li>Movie Title: {{title}}</li>
    <li>Comments: {{comments}}</li>
    <li>Time: {{dateTime}}</li>
    <li>Rating: {{rating}}</li>
    <li>Reviewed Status: {{reviewed}}</li>
</ul>