{{>header.hbs}}
{{#reviews}}
    <ul>
        <li>Comments: {{comments}}</li>
        <li>Rating: {{rating}}</li>
        <li>Movie Title: {{title}}</li>
        <li>Time: {{dateTime}}</li>
        <li>Reviewed: {{reviewed}}</li>
    </ul>
    <br>
{{/reviews}}


{{>footer.hbs}}