{{>header.hbs}}

<a href="/mod/modhome">Return to homepage </a>
<br>

{{#ErrorMsg}}
    <p style="font-weight: bold; color: red;">{{ErrorMsg}}</p>
{{/ErrorMsg}}

{{#reviews}}
    <ul>
        <li>User ID: {{userID}}</li>
        <li>Movie Title: {{title}}</li>
        <li>Comments: {{comments}}</li>
        <li>Time: {{dateTime}}</li>
        <li>Rating: {{rating}}</li>
        <li>Reviewed Status: {{reviewed}}</li>
    </ul>

    <form action="/mod/review-check/update" method="post">
        <input type="radio" name="approval_field" value="1"> Approve
        <input type="radio" name="approval_field" value="0"> Deny
        <input type="hidden"name="userID_field" value = {{userID}}>
        <input type="hidden"name="isanID_field" value = {{isanID}}>


        <p><button type="submit">Confirm</button></p>
    </form>
{{/reviews}}

{{>footer.hbs}}