{{>header.hbs}}
<ul>
    {{#movie}}
        <ul>
            <li>Title: {{title}}</li>
            <li>ISAN ID: {{ISAN_ID}}</li>
            <li>Genre: {{genre}}</li>
            <li>MPAA Rating: {{MPAA_Rating}}</li>
            <li>Language: {{language}}</li>
            <li>Length: {{length}}</li>
            <li>date: {{Date}}</li>
            <br>
        </ul>
    {{/movie}}
</ul>

<script>
if (req.session().attribute("authenticated"){
    <a href="/write-review">Write a Review</a>
}
</script>

{{>footer.hbs}}


have a movie-info and

session object is a java object

simple answer: movie-list partialU (any auth'ed user - here adda writeAReview)




if (req)
show the auth page

on auth page(return pushing data to user side


if not auth, psuh it to N side