{{>header.hbs}}
<ul>
    {{#movie}}
        <ul>
            <li>Title: {{title}}</li>
            <li>ISAN ID: {{ISAN_ID}}</li>
            <li>Genre: {{genre}}</li>
            <li>MPAA Rating: {{MPAA_Rating}}</li>
            <li>Language: {{language}}</li>
            <li>Length: {{length}}</li>
            <li>Date: {{date}}</li>
            <li>Views: {{views}}</li>
            <br>
        </ul>
    {{/movie}}
</ul>

<ul>
    {{#movie}}
        <ul>
            <a href="/user-reviews/{{ISAN_ID}}">View user reviews</a>
        </ul>
    {{/movie}}

</ul>
{{>footer.hbs}}